/* ----- Building Blocks Stylsheet ----- */

/* Base */

body {
  background: #f9b8b4; /* Old browsers */
<<<<<<< HEAD
  background: url('3.jpeg') repeat-x center top, linear-gradient(to bottom, #f9b8b4 0%, #ebe8ba 100%) no-repeat center; /* W3C */
=======
  background: linear-gradient(to bottom, #f9b8b4 0%, #ebe8ba 100%) no-repeat center; /* W3C */
>>>>>>> poetry_branch
  min-height: 100%;
}

.jumbotron {
  color: red;
  background: url('9.jpg') repeat-x left bottom;
  width: 100%;
}


body {
  color: #ded;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0 auto;
  width: 90%;
}

/* Headings */

h1 {
  color: white;
  margin-bottom: 20px;
  text-align: center
}

h1 + h2, h2 + h3 {
  text-align: center;
}

h2,h3,h4 {
  color: #e1e1e1
}

/* Lists */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 10px;
}
ul li:last-child {
  margin-bottom: 0;
}

/* Links */

a {
  color: #d19b99;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}
a:hover,
a:active {
  color: #333;
}

/* Shared */

form, .city-list {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
}

@media only screen and (min-width: 40.063em) {
        form,
        body > ul {
          max-width: 50%;
          margin: 1% auto;
        }
  }

/* Form */

legend {
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
input {
  border: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

input:focus {
  box-shadow: 0 0 4px rgba(249, 184, 180, 0.85);
  outline: none;
}

input[type="submit"] {
  background: #d19b99;
  border: 0;
  border-radius: 4px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 10px 30px;
  text-transform: uppercase;
  width: auto;
}

/* Alert */

.alert {
  background: #dd516c;
  color: white;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  display: none;
}

/* Block List */

.city-list li::after {
  clear: both;
  content: ' ';
  display: table;
}
.city-list li a:last-child {
  float: left;
  padding-right: 10px;
}
<<<<<<< HEAD
=======





/** {

font-family: 'Abril Fatface', cursive;
font-family: 'Antic Didone', serif;
font-family: 'GFS Didot', serif;
}
*/
h1, button {
  font-family: 'Abril Fatface' !important;
  font-size: 4em;
  text-shadow: 1px 1px 3px black;
  
}
.submitbutton:hover {
  opacity: .9;
  cursor: pointer;
}

h2, li, p, button, a {
  font-family: 'Antic Didone', serif !important;
}

*, body, h3, h4, h5 {
  font-family: 'Antic Didone', serif !important;
}



@media only screen and (min-width: 40.063em) {
      .col > img {
        height: 350px;
        width: auto;
        overflow: hidden;
        border-radius: 50%
      }
}
.row.m-y-4 {
  margin-top: 10%;
  margin-bottom: 7%
}



#footer {
  margin-top: 10%;
  width:100%;
}
#footer ul  {
   padding: 5% 1% 
}


h3 {
    text-align: center;
    color: #222;
    font-family: 'Antic Didone', serif !important;
    width: 40%;
    margin: 1% auto;
    line-height: 1.6em;
  }

h3::first-letter {
  font-weight: bold;
  color: #955;

}





>>>>>>> poetry_branch
